.appointment {
}

.appointment-inner {
  padding: var(--section-padding);
  display: flex;
  /* align-items: center; */
  gap: 2rem;
}

.appointment-inner__calendar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.appointments-inner__appointments {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}
.appointment-inner__appointments-found span {
  color: rgb(89, 89, 253);
}

.appointments-inner__appointments--cards {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: baseline;
  gap: 2rem;
  padding-right: 1rem;
}

/* CALENDAR */

.react-calendar__tile {
  /* border-radius: 4px; */
}

/* Today */
.react-calendar__tile--now {
  background-color: #ddd7fe;
}

/* Not active + hover */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #ffdae7;
}

/* Active */
.react-calendar__tile--active {
  background-color: var(--accent-color);
  color: var(--dark-grey);
}

/* Active + Hover */
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background-color: var(--accent-color);
}

/* Button */

.appointment-button {
  font-size: var(--font-medium);
  margin-top: 2rem;
}

/* Appointment card */

.appointment-card {
  padding: 1rem;
  background-color: var(--light-grey);
  border: 3px solid var(--accent-color);
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  transition: var(--main-transition);
}

.appointment-card-link:visited,
.appointment-card-link:link,
.appointment-card-link {
  color: var(--dark-grey);
  text-decoration: none;
}

.appointment-card--date {
  font-size: var(--font-medium);
  font-weight: 500;
}

.appointment-card--time {
  color: var(--accent-color);
}

.appointment-card--dayname {
  font-weight: 400;
}

.appointment-card:hover {
  transform: scale(1.05);
  background-color: var(--accent-color);
}

.appointment-card:hover > .appointment-card--time {
  color: var(--dark-grey);
}

/* Media Queries */

@media only screen and (max-width: 81rem) {
  .appointment-inner {
    flex-wrap: wrap;
    justify-content: center;
  }
}
