.appointment {
}

.appointment-inner {
  padding: var(--section-padding);
  display: flex;
  align-items: center;
}

.appointment {
  padding: 1rem;
  background-color: var(--light-grey);
  border: 3px solid var(--accent-color);
}

/* CALENDAR */

.react-calendar__tile {
  /* border-radius: 4px; */
}

/* Today */
.react-calendar__tile--now {
  background-color: #ddd7fe;
}

/* Not active + hover */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #ffdae7;
}

/* Active */
.react-calendar__tile--active {
  background-color: var(--accent-color);
  color: var(--dark-grey);
}

/* Active + Hover */
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background-color: var(--accent-color);
}
