/* REVIEWS */
.reviews {
  /* height: clamp(50dvh, 70dvh, 100dvh); */
  /* max-height: max-content; */

  padding: var(--section-padding);
  background-color: var(--light-grey);
  color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.reviews__heading {
  font-size: var(--font-heading);
  text-align: center;
  margin-bottom: var(--section-heading-margbot);
}

.reviews__reviews {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.reviews__review-card {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 4px 1px 13px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 1px 13px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 1px 13px -5px rgba(0, 0, 0, 0.75);
}

.reviews__review-card:nth-child(even) {
  background-color: var(--accent-color);
}

.reviews__review-card-bottom {
  display: flex;
  gap: 2rem;
}

.reviews__review-card-text {
  font-size: var(--font-small);
  line-height: 1.5;
  font-weight: 400;
}
.reviews__review-card-name {
  font-weight: 500;
}

.reviews__load-more {
  align-self: center;
  text-transform: uppercase;
}

/* REVIEWS */

/* Paws (rating) */

.reviews__paws {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}

.reviews__paws p {
  font-size: var(--font-medium);
  margin-right: 1rem;
}

.paw-i {
  width: 2rem;
  height: 2rem;
  fill: #ffe066;
}

/* Write new review */

.reviews__write-new--form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.reviews__write-new--form div:first-of-type {
  position: relative;
  margin-bottom: 2rem;
}

.reviews__write-new--form div:first-of-type label {
  position: absolute;
  top: 0;
  left: 0;
}

.reviews__write-new--form div:first-of-type textarea {
  width: 100%;
  height: 20rem;
  resize: none;
  padding: 1rem;
  font-size: var(--font-medium);
  font-family: "Montserrat", "Sans-serif";
}

.reviews__write-new--form div:last-of-type {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.reviews__write-new--form div:last-of-type p {
  font-weight: 500;
}

/* Paw icons */

.write-paw-icon {
  cursor: pointer;
  fill: transparent;
  stroke: var(--accent-color);
  stroke-width: 4px;
  width: 3rem;
  height: 3rem;
}

.paw-i:hover {
  transform: scale(1.1);
  stroke: none;
}

.write-paw-icon--active {
  fill: var(--accent-color);
  stroke: none;
}

/* write new form button */
.reviews__write-new--form button {
  font-size: var(--font-medium);
  padding: 1rem;
  width: 40%;
  align-self: center;
  border: none;
  color: var(--light-grey);
  background-color: var(--accent-color);

  border-radius: 4px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.reviews__write-new--form button:hover {
  background-color: var(--light-grey);
  color: var(--dark-grey);
}

/* Write new review */
