/* REVIEWS */
.reviews {
  /* height: 60vh; */
  padding: var(--section-padding);
  background-color: var(--light-grey);
  color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.reviews__heading {
  font-size: var(--font-heading);
  text-align: center;
  margin-bottom: var(--section-heading-margbot);
}

.reviews__slider {
  position: relative;
  width: 80vw;
  margin-bottom: 10rem;
}

.reviews__slider-data {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-small);
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.reviews__slider-name {
  color: var(--dark-grey);
  font-size: var(--font-medium);
  font-weight: 400;
  margin-bottom: 2rem;
}

.reviews__slider-review {
  line-height: 1.5;
  color: #495057;
}

.slide-active {
  opacity: 1;
  visibility: visible;
  position: relative;
  transition: opacity 0.5s ease;
}

.reviews__slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  font-family: "Montserrat";

  font-size: 15rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.reviews__slider-btn:hover {
  color: var(--accent-color);
}

.reviews__slider-btn-left {
  left: 4rem;
}
.reviews__slider-btn-right {
  right: 4rem;
}

/* REVIEWS */

/* Paws (rating) */

.reviews__paws {
  margin-top: 5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.reviews__paws p {
  font-size: var(--font-medium);
  margin-right: 1rem;
}

.paw-icon {
  width: 4rem;
  height: 4rem;
  fill: var(--accent-color);
}

/* Write new review */

.reviews__write-new--form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.reviews__write-new--form div:first-of-type {
  position: relative;
  margin-bottom: 2rem;
}

.reviews__write-new--form div:first-of-type label {
  position: absolute;
  top: 0;
  left: 0;
}

.reviews__write-new--form div:first-of-type textarea {
  width: 100%;
  height: 20rem;
  resize: none;
  padding: 1rem;
  font-size: var(--font-medium);
  font-family: "Montserrat", "Sans-serif";
}

.reviews__write-new--form div:last-of-type {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.reviews__write-new--form div:last-of-type p {
  font-weight: 500;
}

/* Paw icons */

.write-paw-icon {
  cursor: pointer;
  fill: transparent;
  stroke: var(--accent-color);
  stroke-width: 4px;
}

.paw-i {
  width: 4rem;
  height: 4rem;
}

.paw-i:hover {
  transform: scale(1.1);
  stroke: none;
}

.write-paw-icon--active {
  fill: var(--accent-color);
  stroke: none;
}

/* write new form button */
.reviews__write-new--form button {
  font-size: var(--font-medium);
  padding: 1rem;
  width: 40%;
  align-self: center;
  border: none;
  color: var(--light-grey);
  background-color: var(--accent-color);

  border-radius: 4px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.reviews__write-new--form button:hover {
  background-color: var(--light-grey);
  color: var(--dark-grey);
}

/* Write new review */
