.authentication {
  height: 100vh;
  background-color: var(--light-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.authentication__container {
  z-index: 5;
  position: relative;
  min-width: 25%;
  width: fit-content;
  min-height: 75%;
  background-color: var(--dark-grey);
  margin: 0 auto;
  border-radius: var(--common-border-radius);
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--light-grey);
  padding: var(--el-pd-lg);
  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.75);
}

.authentication__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: var(--gap-md);
}

.authentication__form--heading {
  color: var(--light-grey);
  font-size: var(--font-md);
  margin-bottom: var(--gap-md);
}

.form-container {
  box-sizing: border-box;
  position: relative;
  width: 100%;
}

.form-container:first-of-type {
  margin-bottom: var(--gap-largest);
}

.login-form .form-button {
  background-color: var(--accent-color);
}

.login-form .form-button:hover {
  transform: scale(1.02);
  background-color: var(--light-grey);
}

.login-failed {
  padding: var(--el-pd-sm);
  background-color: rgb(255, 48, 48);
  color: var(--light-grey);
  border-radius: var(--common-border-radius);
}

/* SIGNUP FORM */
.signup-form .form-container {
  margin-bottom: 0;
}

.signup-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 80% 10% 10%;
}

.signup-form--left {
  grid-column: 2/3;
  grid-row: 1/2;
}

.signup-form--right {
  grid-column: 1/2;
  grid-row: 1/2;
}

.signup-form--left,
.signup-form--right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-largest);
}

.signup-form .form-button:not(.form-button-back) {
  grid-column: 1/-1;
  width: 50%;
  justify-self: center;
  background-color: var(--accent-color);
}

.signup-form .form-button:not(.form-button-back):hover {
  background-color: var(--light-grey);
  transform: scale(1.05);
}

/* SIGNUP FORM */

.form-container-no-profile {
  display: flex;
  align-items: center;
  gap: var(--gap-sm);
}

.form-container-social-login {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--gap-sm);
}

.form-container-social-login button {
  padding: var(--el-pd-sm);
  font-size: var(--font-sm);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-lg);
  border-radius: var(--common-border-radius);
  cursor: pointer;
  transition: var(--main-transition);
}

.form-container-social-login button:nth-of-type(2) {
  background-color: #3b5998;
  color: var(--light-grey);
}

.form-container-social-login button:nth-of-type(1):hover {
  background-color: #d5d5d5;
}

.form-container-social-login button:nth-of-type(2):hover {
  background-color: #294d99;
}

.form-input {
  padding: var(--el-pd-lg) var(--el-pd-sm) var(--el-pd-sm);
  font-size: var(--font-mediuim);
  border-radius: var(--common-border-radius);
  background-color: var(--light-grey);
  width: 100%;
  position: relative;
}

.signup-form .form-input {
  width: 100%;
}

.form-label {
  position: absolute;
  top: 48.5%;
  left: 3%;
  color: var(--light-dark-grey);
  transition: var(--main-transition);
}

.form-button {
  padding: var(--el-pd-sm);
  font-size: var(--font-sm);
  background-color: var(--light-grey);
  cursor: pointer;
  border-radius: var(--common-border-radius);
  width: 100%;
  margin-top: var(--gap-md);
  transition: var(--main-transition);
}

.form-button:hover {
  background-color: #d5d5d5;
}

.authentication--img {
  width: 70%;
  height: 50rem;
  position: absolute;
  top: 7.4%;
  left: 50%;
  transform: translateX(-57%) rotate(2deg);
  z-index: 3;
}

.authentication--logo {
  width: var(--logo-norm-width);
  height: var(--logo-norm-height);
  object-fit: contain;
  margin-top: -2.5rem;
}

.authentication--line {
  width: 63%;
  height: 3px;
  background-color: var(--accent-color);
  border-radius: var(--common-border-radius);
  position: absolute;
  top: 66.4%;
  z-index: 2;
}

/* ICONS */

.auth-icon {
  width: var(--icon-sm);
  height: var(--icon-sm);
}

/* SEPARATE BUTTONS */

.form-button-forgot {
  align-self: flex-start;
}

.form-link {
  color: #b3c7f4;
  font-size: var(--font-mediuim);
  transition: var(--main-transition);
}

.form-link:hover {
  color: var(--light-grey);
}

.form-button-back {
  font-size: var(--font-sm);
  grid-row: 3/4;
  grid-column: 1/-1;
  justify-self: center;
  width: 30%;
}

.form-button-back:hover {
  transform: scale(0.95);
}

/* ACTIONS */

.form-label-moved {
  transform: translateY(-22px);
  color: var(--dark-grey);
}
