.appointment-registration-heading {
  color: var(--dark-grey);
  display: block;
  background-color: var(--accent-color);
  padding: var(--page-heading-padding);
  display: flex;
  gap: 2rem;
  align-items: center;
}

.appointment-registration-heading__appointment-data {
  padding-right: 3rem;
  border-width: 0px;
  border-right: 2px solid var(--dark-grey);
}

.appointment-registration-heading__appointment-data p {
  font-size: var(--font-small);
  font-weight: 500;
}

.appointment-registration__inner {
  padding: var(--section-padding);
  height: 70vh;
}

.appointment-registration__inner .form-container:first-of-type {
  margin: 0;
}

.appointment-registration__inner .form-container input {
  padding-left: 1.5rem;
}

.appointment-registration__inner .form-container input:disabled {
  font-weight: 600;
}

/* NO REG FORM */
.no-reg-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 70% 20% 10%;
  width: 50vw;
  gap: 3rem;
  height: fit-content;
  align-items: center;
}

.no-reg-form__client {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.no-reg-form__pet {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.no-reg-form .description-input-box {
  grid-row: 2/3;
  grid-column: 1/-1;
  width: 100%;
}

.no-reg-form .description-input-box .form-label {
  left: 2%;
}

.no-reg-form button {
  grid-column: 1/-1;
  grid-row: 3/4;
  padding: 1rem;
  /* width: 40%; */
  border-radius: 4px;
  border: none;
  background-color: var(--accent-color);
  color: var(--dark-grey);
  font-size: var(--font-medium);
  border: 1px solid transparent;
  transition: var(--main-transition);
  cursor: pointer;
}

.no-reg-form button:hover {
  background-color: var(--light-grey);
  border: 1px solid var(--dark-grey);
}
/* NO REG FORM */
