.appointment-registration-heading {
  color: var(--dark-grey);
  display: block;
  background-color: var(--accent-color);
  padding: var(--page-heading-padding);
  display: flex;
  gap: var(--gap-md);
  align-items: center;
  margin-top: 6rem;
}

.appointment-registration-heading__appointment-data {
  padding-right: 3rem;
  border-width: 0px;
  border-right: 2px solid var(--dark-grey);
}

.appointment-registration-heading__appointment-data p {
  font-size: var(--font-sm);
  font-weight: 500;
}

.appointment-registration__inner {
  padding: var(--section-padding-top-bottom) var(--side-paddings);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appointment-registration__inner .form-container:first-of-type {
  margin: 0;
}

.appointment-registration__inner .form-container input {
  padding-left: var(--el-pd-md);
}

.appointment-registration__inner .form-container input:disabled {
  font-weight: 600;
}

/* NO REG AND AUTH FORM */

.appointment-book-form {
  display: grid;
  width: 50vw;
  gap: 3rem;
}

.appointment-book-form select {
  padding: var(--el-pd-md);
  font-size: var(--font-sm-to-md);
  display: flex;
  justify-content: center;
  background-color: var(--light-grey);
  color: var(--dark-grey);
}

.appointment-book-form button {
  padding: var(--el-pd-md);
  border-radius: var(--common-border-radius);
  border: none;
  background-color: var(--accent-color);
  color: var(--dark-grey);
  font-size: var(--font-md);
  border: 1px solid transparent;
  transition: var(--main-transition);
  cursor: pointer;
}

.appointment-book-form button:hover {
  background-color: var(--light-grey);
  border: 1px solid var(--dark-grey);
}

.appointment-book-form button:disabled {
  background-color: rgb(170, 170, 170);
}

/* NO REG FORM */

.appointment-registration__inner .is-required {
  margin-bottom: calc(var(--gap-lg) * 2);
  text-transform: uppercase;
}

.no-reg-form {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 3fr 1fr 1fr 1fr;
  height: fit-content;
  align-items: center;
}

.no-reg-form__client {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.no-reg-form > select {
  grid-column: 1/-1;
  grid-row: 2/3;
}

.no-reg-form__pet {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
}

.no-reg-form .description-input-box {
  grid-row: 3/4;
  grid-column: 1/-1;
  width: 100%;
}

.no-reg-form .description-input-box .form-label {
  left: 2%;
}

.no-reg-form button {
  grid-column: 1/-1;
  grid-row: 4/5;
}

/* NO REG FORM */

/* AUTH FORM */

.auth-form {
  display: flex;
  flex-direction: column;
}

.appointment-book-form__client {
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
}
