/* OUR TEAM */

.our-team__main {
  display: flex;
  padding: var(--section-padding);
  flex-direction: column;
  gap: 6rem;
}

.our-team__main-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2rem;
}

.our-team__main-heading {
  font-size: var(--font-medium);
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.our-team__card {
  height: 40rem;
  width: 35rem;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: end;
  cursor: pointer;
}

.our-team__card--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  transition: var(--main-transition);
  transform-origin: center bottom;
  filter: grayscale(30%);
}

.our-team__card--details {
  background-color: var(--accent-color);
  overflow: hidden;
  height: 0;
  transition: var(--main-transition);
  color: #e9ecef;
}

.our-team__card--name {
  font-size: var(--font-med-to-large);
  text-align: center;
}

.our-team__card--spec {
  font-size: var(--font-medium);
  background-color: var(--accent-color);
  text-align: center;
}

.our-team__card:hover > .our-team__card--details {
  height: 20%;
}
.our-team__card:hover > .our-team__card--image {
  height: 80%;
  filter: grayscale(0);
}
/* OUR TEAM */

/* Media Queries */

/* 1600px */
@media only screen and (max-width: 100rem) {
  .our-team__main-box {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 1200px */
@media only screen and (max-width: 75rem) {
  .our-team__main-box {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 750px */
@media only screen and (max-width: 47rem) {
  .our-team__card {
    width: 30rem;
    height: 35rem;
  }

  .our-team__card--name {
    font-size: var(--font-medium);
    text-align: center;
  }

  .our-team__card--spec {
    font-size: var(--font-small);
    background-color: var(--accent-color);
    text-align: center;
  }
}

/* 600px */
@media only screen and (max-width: 37.5rem) {
  .our-team__main-box {
    grid-template-columns: 1fr;
  }
}

@media (hover: none) and (pointer: coarse) {
  .our-team__card--details {
    height: 20%;
    overflow: unset;
  }

  .our-team__card--image {
    height: 80%;
  }
}
