/* OUR TEAM */

.our-team__main {
  display: flex;
  padding: var(--section-padding-top-bottom) var(--side-paddings);
  flex-direction: column;
  gap: 6rem;
}

.our-team__main-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: var(--gap-md);
}

.our-team__main-heading {
  font-size: var(--font-sm-to-md);
  margin-bottom: var(--gap-largest);
  text-transform: uppercase;
}

.our-team__card {
  height: 30rem;
  width: 25rem;
  border-radius: var(--common-border-radius);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: end;
  cursor: pointer;
}

.our-team__card--image {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center top;
  transition: var(--main-transition);
  transform-origin: center bottom;
  filter: grayscale(30%);
}

.our-team__card--details {
  background-color: var(--accent-color);
  overflow: hidden;
  height: 0;
  transition: var(--main-transition);
  color: #e9ecef;
}

.our-team__card--details h5 {
  margin-block: 0;
  color: var(--dark-grey);
}

.our-team__card--name {
  font-size: var(--font-sm);
  text-align: center;
}

.our-team__card--spec {
  font-size: var(--font-sm);
  background-color: var(--accent-color);
  text-align: center;
}

.our-team__card:hover > .our-team__card--details {
  height: 20%;
  padding: var(--el-pd-sm) 0;
}
.our-team__card:hover > .our-team__card--image {
  min-height: 80%;
  filter: grayscale(0);
}
/* OUR TEAM */

/* Media Queries */

/* 1600px */
@media only screen and (max-width: 100rem) {
  .our-team__main-box {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 1200px */
@media only screen and (max-width: 75rem) {
  .our-team__main-box {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 950px */
@media only screen and (max-width: 59rem) {
  .our-team__card {
    pointer-events: none;
  }

  .our-team__card--details {
    min-height: 20%;
    overflow: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .our-team__card--image {
    max-height: 80%;
    min-height: 80%;
  }
}
/* 750px */
@media only screen and (max-width: 47rem) {
  .our-team__main-box {
    grid-template-columns: 1fr;
  }
  .our-team__card {
    width: 25rem;
    height: 25rem;
  }

  .our-team__card--name {
    font-size: var(--font-md);
    text-align: center;
  }

  .our-team__card--spec {
    font-size: var(--font-sm);
    background-color: var(--accent-color);
    text-align: center;
  }
}

/* 600px */
@media only screen and (max-width: 37.5rem) {
  .our-team__card {
    width: clamp(15rem, 5vw, 20rem);
    height: clamp(20rem, 5vw, 25rem);
    justify-self: center;
  }
}

@media (hover: none) and (pointer: coarse) {
  .our-team__card--details {
    height: 20%;
    overflow: unset;
  }

  .our-team__card--image {
    height: 80%;
  }
}
