.forgot-password {
  color: var(--dark-grey);
}

.forgot-password__inner {
  margin: 0 auto;
  position: relative;
  padding: var(--section-padding-top-bottom) var(--side-paddings);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  font-weight: 400;
}

.forgot-password__inner form {
  width: 20dvw;
}

.forgot-password__inner form button {
  display: block;
  margin: 0 auto;
  margin-top: var(--gap-lg);
}

.forgot-password__warning {
  color: rgb(238, 50, 50);
  margin-bottom: var(--gap-sm);
  text-align: center;
}
