/* CONTACTS PAGE */

.contacts__main {
  padding: var(--section-padding);
  color: var(--dark-grey);
}

.contacts__main h2 {
  text-align: center;
  font-size: var(--font-heading);
  color: var(--accent-color);
}

.contacts__main-map-container {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.contacts__map {
  width: 100%;
  filter: grayscale(80%);
  transition: filter 0.3s ease;
}

.contacts__map:hover {
  filter: grayscale(30%);
}
.contacts__main-contacts-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts__main-contacts-element {
  font-size: var(--font-medium);
  display: grid;
  grid-template-columns: 1fr 4fr 4fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 1rem;
  padding: 4rem;
  border-radius: 4px;
}

.contacts__main-contacts-element .contacts__main-contacts-data {
  font-size: var(--font-medium);
  grid-column: 2 / -1;
  grid-row: 2/ 3;
}

.contacts__main-contacts-heading {
  grid-column: 2 / -1;
  grid-row: 1/ 2;
  border-bottom: 1px solid var(--accent-color);
  font-weight: 500;
}

.contacts__icon {
  width: 3.5rem;
  height: 3.5rem;
  grid-column: 1 / 2;
  fill: var(--accent-color);
  justify-self: end;
}

/* CONTACTS PAGE */
