/* SERVICES PAGE */

.services {
  padding: var(--section-padding);
}

.filter {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}

.filter__wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.filter__wrapper p:first-of-type {
  font-size: var(--font-small);
  font-weight: 500;
  margin-right: 0.5rem;
  text-wrap: balance;
}

.filter-button,
.filter-reset {
  padding: 1.5rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1px var(--accent-color);
  background-color: transparent;
  gap: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter-button:hover {
  background-color: #fae5ed;
}

.filter-button p {
  font-size: var(--font-small);
}

.filter-button-active {
  background-color: var(--accent-color);
}
.filter-button-active:hover {
  background-color: #fb96bd;
}

.filter-search__wrapper {
  position: relative;
  margin-left: 2rem;
}

.filter-search__label {
  position: absolute;
  user-select: none;
  top: 50%;
  left: 7%;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  color: #868e96;
}

.filter-search__label-moved {
  transform: translate(-6px, -45px);
  font-weight: 500;
  color: var(--dark-grey);
}

.filter-search__input {
  font-size: var(--font-medium);
  padding: 0.5rem;
  padding-left: 1rem;
  margin-left: 1rem;
  border: none;
  border-radius: 4px;
  border: 1px solid var(--accent-color);
}

.filter-search__input:focus {
  background-color: var(--accent-color);
  outline: none;
}

.filter-reset {
  font-size: var(--font-small);
  font-weight: 600;
  text-transform: uppercase;
}

.filter-reset:hover {
  color: var(--accent-color);
}

.filter-icon {
  width: 3.5rem;
  height: 3.5rem;
  fill: var(--dark-grey);
}

.services-items {
  /* width: 90%; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.services-item {
  padding: 4rem;
  /* background-color: var(--accent-color); */
  border: 4px solid var(--accent-color);
  border-radius: 4px;
}

.services-item h3 {
  font-size: var(--font-medium);
}

.services-item__description {
  font-weight: 500;
}

.services-item__for-type {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: flex-end;
}

.service-for__icon {
  width: 3rem;
  height: 3rem;
  fill: var(--dark-grey);
}

/* SERVICES PAGE */
