/* WHY US */
.why-us {
  padding: var(--section-padding-top-bottom) var(--side-paddings);

  background-color: var(--light-grey);
  color: var(--dark-grey);
}

.why-us__items-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(4, 1fr);
  row-gap: clamp(2rem, 5vw, 6rem);
}

.why-us__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-sm);
}

.why-us__item:hover > .why-us__icon {
  transform: scale(1.15);
}

.why-us__item-heading {
  font-weight: 500;
  text-wrap: balance;
  text-align: center;
}

.why-us__item-text {
  text-align: center;
  width: 70%;
  line-height: 1.5;
}

.why-us__icon {
  width: clamp(var(--icon-md), 5vw, var(--icon-lg));
  aspect-ratio: 1;
  fill: var(--accent-color);
  margin-bottom: 1rem;
  transition: var(--main-transition);
}

/* WHY US */

/* Media Queries */
@media only screen and (max-width: 81rem) {
  .why-us__items-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 850px */
@media only screen and (max-width: 53rem) {
  .why-us__items-container {
    grid-template-columns: 1fr;
  }
}
