.pet-page {
  position: relative;
}
.pet-page-inner {
  padding: var(--section-padding-top-bottom) var(--side-paddings);
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 2fr 2fr;
  gap: var(--gap-lg);
  max-height: 100vh;
}

.pet-page-inner > * {
  padding: var(--el-pd-lg);
  border-radius: var(--common-border-radius);
}

.pet-page__pet-info {
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
  grid-column: 1/2;
  grid-row: 1/4;
  border-right: 4px solid var(--accent-color);
}

.pet-page__documents {
  grid-column: 2/3;
  grid-row: 1/2;
  border-bottom: 4px solid var(--accent-color);
}

.pet-page__history {
  grid-column: 2/3;
  grid-row: 2/4;
}

.pet-page__box-heading {
  margin-bottom: var(--gap-lg);
}

.pet-page__box-heading button {
  border: 4px solid var(--accent-color);
  cursor: pointer;
  transition: var(--main-transition);
}

.pet-page__box-heading button:hover {
  background-color: var(--accent-color);
}

/* PET INFO */

.pet-info__row-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
}

.pet-info__heading {
  font-weight: 600;
  font-size: var(--font-sm-to-md);
  color: var(--accent-color);
}

.pet-info__value {
  font-size: var(--font-sm);
}

/* PET DOCUMENT */

.pet-page__documents-items {
  display: flex;
  gap: var(--gap-lg);
  align-items: stretch;
  min-height: 85%;
  height: 85%;
}

.pet-page__documents-item:link,
.pet-page__documents-item:visited,
.pet-page__documents-item {
  /* border: 4px solid var(--accent-color); */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-md);
  padding: var(--el-pd-md);
  min-height: 100%;
  height: 100%;
  border-radius: var(--common-border-radius);
  color: var(--dark-grey);
  transition: var(--main-transition);
  box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.1);
}

.pet-page__documents-item:hover {
  transform: scale(1.05);
  background-image: linear-gradient(
    to bottom,
    #f9a8c520,
    #faa2c220,
    #fb9cbe20,
    #fb96bb20,
    #fc90b720
  );
}

.icon-pdf {
  width: var(--icon-md);
  height: var(--icon-md);
}

.pet-page__documents-form {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

.pet-page__documents-form div {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
}

.pet-page__documents-form div label {
  font-weight: 500;
}

/* PET HISTORY */

.pet-page__history-items {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  min-height: 85%;
}

.pet-page__history-item {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  /* border: 4px solid var(--accent-color); */
  padding: var(--el-pd-md);
  min-width: 98%;
  max-width: 98%;
  border-radius: var(--common-border-radius);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1);
}

.pet-page__history-item-value:first-of-type {
  min-width: 100%;
  font-weight: 500;
}

.pet-page__history-form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-bottom: var(--gap-lg);
  padding: var(--el-pd-md);
}

.pet-page__history-form div {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
  margin-bottom: var(--gap-md);
}

.pet-page__history-form textarea {
  width: 98%;
  resize: none;
  max-height: 8rem;
  padding: var(--el-pd-sm);
}

.pet-page__history-form label {
  font-weight: 500;
}

/* Popup */

.pet-page__popup {
  padding: var(--el-pd-md);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70dvw;
  height: 40dvh;
  position: absolute;
  background-color: var(--dark-grey);
  color: var(--light-grey);
  z-index: 100;
  border-radius: var(--common-border-radius);
}

.table-wrapper {
  overflow-y: scroll;
  height: 80%;
}
.pet-page__popup-heading {
  font-size: var(--font-md);
  margin-bottom: var(--gap-lg);
}

.pet-page__popup button {
  position: absolute;
  right: 2rem;
  top: 1rem;
  font-size: var(--font-md);
  border: none;
  color: var(--light-grey);
  background-color: var(--dark-grey);
  transition: var(--main-transition);
  cursor: pointer;
}

.pet-page__popup button:hover {
  color: var(--accent-color);
}

.pet-page__popup table {
  width: 100%;
  border-collapse: collapse;
}

.pet-page__popup table thead td {
  font-weight: 600;
  font-size: var(--font-sm-to-md);
}

.pet-page__popup table tbody {
  font-size: var(--font-sm-to-md);
}

.pet-page__popup:has(.pet-page__popup--no-appointments) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pet-page__popup--no-appointments {
  font-size: var(--font-md);
}
