.hero {
  color: aliceblue;
  height: 90vh;
  padding: var(--section-padding-top-bottom) var(--side-paddings);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero h1 {
  font-size: calc(var(--font-hd-bigger) + 0.3rem);
  margin-bottom: 1rem;
}

.hero h1 span {
  color: var(--accent-color);
}

.hero p {
  font-size: calc(var(--font-med-to-lg) - 0.3rem);
  width: 60%;
  margin-bottom: var(--gap-largest);
  line-height: 1.2;
  letter-spacing: -1px;
  font-weight: 400;
}

.header-hero__background {
  background-image: url("/assets/main.webp"),
    linear-gradient(rgb(154 125 138 / 18%), rgb(245 177 202 / 18%));
  background-attachment: fixed;
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  min-height: 120vh;
  width: 100%;
  /* padding: 2rem 3rem; */
  position: absolute;
  z-index: -10;
  top: 0;
  filter: grayscale(10%);
  filter: brightness(80%);
}

.hero .pink-button {
  align-self: flex-start;
}

/* HERO */

/* Media Queries */

@media only screen and (max-width: 59rem) {
  .hero p {
    width: 80%;
  }
}
