.checkout__box-main {
  display: flex;
  flex-direction: column;
}
/* SELECTION COMPONENT */
.checkout .selection-label .selection-checkbox {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid var(--dark-grey);
}
