.checkout {
  background-color: #fff;
}

.checkout__inner {
  display: flex;
  width: 100%;
}

.checkout__cart-items {
  padding: var(--section-padding-top-bottom) var(--side-paddings);
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: calc(var(--gap-lg) + var(--gap-lg));
  max-width: 70%;
}

.checkout__side {
  position: relative;
  padding: var(--el-pd-lg);
  max-width: 30%;
  box-shadow: -3px 0px 15px -3px rgba(0, 0, 0, 0.1);
}

.checkout__side-contents {
  position: fixed;
  top: 40%;
  right: 20%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.checkout-proceed {
  border: 1px solid transparent;
  background-color: var(--accent-color);
  border-radius: var(--common-border-radius);
  font-size: var(--font-sm-to-md);
  padding: var(--el-pd-sm);
  margin-bottom: var(--gap-md);
  font-weight: 500;
  transition: var(--main-transition);
}

.checkout-proceed:hover {
  transform: scale(1.05);
  background-color: #fff;
  border: 1px solid var(--dark-grey);
}

.checkout-back {
  border: 1px solid transparent;
  background-color: var(--light-grey);
  border-radius: var(--common-border-radius);
  font-size: var(--font-sm);
  padding: var(--el-pd-sm);
  font-weight: 500;
  transition: var(--main-transition);
}

.checkout-back:hover {
  transform: scale(0.95);
  background-color: #eae6e6;
  border: 1px solid var(--dark-grey);
}

.checkout-total {
  font-weight: 500;
  font-size: var(--font-lg);
  color: var(--accent-color);
}

.checkout__cart-item {
  border-radius: var(--common-border-radius);
  min-width: 100%;
  padding: var(--el-pd-lg);
  display: flex;
  align-items: center;
  gap: var(--gap-md);
  box-shadow: 0px 4px 15px -3px rgba(0, 0, 0, 0.1);
  max-height: 10rem;
}

.checkout__cart-item--image {
  width: 8rem;
  height: 100%;
  object-fit: contain;
}

.checkout__cart-item--details {
  display: flex;
  align-items: center;
  flex: 1;
  gap: var(--gap-lg);
}

.checkout__cart-item--quantity-box {
  display: flex;
  align-items: center;
  gap: var(--gap-md);
}

.checkout__cart-item--quantity-box p {
  font-weight: 600;
}

.checkout__cart-item button {
  font-size: var(--font-sm);
  background-color: var(--accent-color);
  font-weight: 500;
  border: none;
  padding: var(--el-pd-md);
  cursor: pointer;
  border-radius: var(--common-border-radius);
  border: 1px solid transparent;
  transition: var(--main-transition);
}

.checkout__cart-item button:hover {
  transform: scale(1.05);
  background-color: #fff;
  border: 1px solid var(--dark-grey);
}
