.shop-inner {
  padding: var(--section-padding-top-bottom) var(--side-paddings);
}
.shop-inner--products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap-largest);
}
/* PRODUCT CARD */
.shop__product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--common-border-radius);
  padding: var(--el-pd-md);
  background-color: white;
  transition: var(--main-transition);
}

.shop__product-card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  scale: 1.05;
}

.shop__product-card:hover .shop__product-card--hover-content {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.shop__product-card--bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.shop__product-card--img {
  width: 100%;
  height: 10rem;
  object-fit: contain;
  margin-bottom: var(--gap-lg);
}

.shop__product-card--title {
  text-align: center;
  font-size: var(--font-sm);
}

.shop__product-card--price {
  font-size: var(--font-md);
  margin-top: auto;
  color: var(--accent-color);
  font-weight: 500;
}

.shop__product-card--hover-content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-sm);
  transition: var(--main-transition);
  background-image: linear-gradient(
    to bottom,
    #f9a8c520,
    #faa2c220,
    #fb9cbe20,
    #fb96bb20,
    #fc90b720
  );
  backdrop-filter: blur(1px);
}

.product-card-button {
  padding: var(--el-pd-md);
  font-size: var(--font-sm);
  border: none;
  background-color: var(--dark-grey);
  color: var(--light-grey);
  border-radius: var(--common-border-radius);
  cursor: pointer;
  transition: var(--main-transition);
}

.shop__product-card--button-more {
  background-color: white;
  color: var(--dark-grey);
  border: 2px solid var(--dark-grey);
}

.shop__product-card--button-more:hover {
  background-color: rgb(238, 238, 238);
}

.shop__product-card--button-shop:hover {
  background-color: #303337;
}
/* PRODUCT CARD */

/* Media Queries */
@media only screen and (max-width: 68rem) {
  .shop-inner--products {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 700px */
@media only screen and (max-width: 43rem) {
  .shop-inner--products {
    grid-template-columns: repeat(2, 1fr);
  }
}
