.pets {
  transition: var(--main-transition);
}
.pets-inner {
  padding: var(--section-padding-top-bottom) var(--side-paddings);
  display: grid;
  gap: var(--gap-lg);
  grid-template-columns: repeat(4, 1fr);
  border-bottom: 3px solid #fff;
}

.pets__pet-card,
.pets__add-new {
  padding: var(--el-pd-lg);
  border: 4px solid var(--accent-color);
  transition: var(--main-transition);
  cursor: pointer;
  color: var(--dark-grey);
}

.pets__pet-card:link,
.pets__pet-card:visited,
.pets__pet-card {
  font-size: var(--font-lg);
  font-weight: 500;
  text-align: center;
}

.pets__pet-card:hover,
.pets__add-new:hover {
  transform: scale(1.05);
  background-image: linear-gradient(
    to bottom,
    #f9a8c520,
    #faa2c220,
    #fb9cbe20,
    #fb96bb20,
    #fc90b720
  );
}

.pets__pet-card-name {
  font-size: var(--font-lg);
  font-weight: 500;
  text-align: center;
}

.pets__add-new {
  cursor: pointer;
  font-size: var(--font-md);
  background-color: transparent;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-md);
}

/* Pet page */

/* NEW PET FORM */

.new-pet-form {
  width: 30%;
  max-width: 30%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap-lg) + var(--gap-lg));
  padding: var(--el-pd-lg);
  animation: showForm 1s ease forwards;
  transition: var(--main-transition);
  transform: translateX(100%);
  opacity: 0;
}

.new-pet-form .form-container:first-of-type {
  margin-bottom: 0;
}

.new-pet-form .pink-button {
  text-transform: uppercase;
  font-size: var(--font-sm-to-md);
}

.new-pet-form--heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-md);
}

.new-pet-form .new-pet-form--heading span {
  font-weight: 500;
}

@keyframes showForm {
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
