/* HEADER */

.header {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

.sticky {
  position: fixed;
  background-color: var(--dark-grey);
  top: 0;
  z-index: 100;
  transition: var(--main-transition);
}

.header-bottom {
  display: flex;
  align-items: center;
  padding: 0 var(--side-paddings);
  justify-content: space-between;
  transition: var(--main-transition);
}

.header-top {
  padding: var(--el-pd-sm) var(--side-paddings);

  font-size: var(--font-smallest);
  display: flex;
  justify-content: space-between;
  background-color: #e9ecef;
  color: #212529;
  font-weight: 500;
  transition: var(--main-transition);
}

.hide-top {
  display: none;
  position: absolute;
}

.header-top-side {
  display: flex;
  align-items: center;
}

.header-top-side p {
  display: flex;
  align-items: center;
  gap: var(--gap-sm);
}
.header-top-side p:first-child {
  border-right: 1px solid var(--accent-color);
  padding-right: var(--el-pd-md);
}

.header-top-side p:nth-child(2) {
  padding-left: var(--el-pd-md);
}

.header-bottom nav {
  display: flex;
  align-items: center;
  gap: var(--gap-md);
  justify-content: space-between;
}

.header-bottom nav ul {
  display: flex;
  align-items: center;
  font-size: var(--font-sm);
  list-style: none;
  gap: var(--gap-largest);
  color: var(--light-grey);
  padding-inline-start: 0;
}

.header__link:visited,
.header__link:link {
  color: currentColor;
  transition: var(--main-transition);
}

.header-bottom nav ul li a {
  text-decoration: none;
  position: relative;
  z-index: 2;
  font-size: var(--font-sm);
  font-weight: 500;
}

.header-bottom nav ul li a span {
  position: relative;
  z-index: 2;
}

.header__logo {
  width: 11rem;
  height: 9rem;
  transition: var(--main-transition);
}

.header__logo-smaller {
  width: 6rem;
  height: 5rem;
}

.header-bottom nav ul:first-of-type *:nth-child(2) {
  font-weight: 500;
}

.header__link:visited:hover,
.header-link:link:hover,
.header__link:hover {
  color: var(--accent-color);
}

.header-top__icon {
  width: var(--icon-sm);
  height: var(--icon-sm);
  fill: var(--accent-color);
}

.header__link-not-main:link,
.header__link-not-main:visited {
  color: var(--light-grey);
}

.header__link-not-main:hover,
.header__link-not-main:link:hover,
.header__link-not-main:visited:hover,
.profile-dropdown-button:hover {
  color: var(--accent-color);
}

.header-not-main {
  background-color: var(--dark-grey);
}

.header__paws {
  width: 12%;
  height: 1.5rem;
  margin: 0 var(--gap-sm);
}

/* Header link dropdown */
.header__link-w-drop {
  position: relative;
  cursor: pointer;
}

.header__link-w-drop:hover .header__link--dropdown {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.header__link--dropdown {
  position: absolute;
  background-color: var(--light-grey);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  width: max-content;
  box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 0.75);
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}

.header__link--dropdown-item:link,
.header__link--dropdown-item:visited,
.header__link--dropdown-item {
  padding: var(--el-pd-md);
  color: var(--dark-grey);
  width: 100%;
  transition: var(--main-transition);
  text-align: center;
}

.header__link--dropdown-item:first-of-type {
  border-radius: 4px 4px 0 0;
}

.header__link--dropdown-item:last-of-type {
  border-radius: 0 0 4px 4px;
}

.header__link--dropdown *:hover {
  background-color: var(--accent-color);
}
/* Header link dropdown */

/* Profile dropdown */

.profile-dropdown {
  position: relative;
  color: var(--light-grey);
  font-size: var(--font-sm);
  font-family: "Montserrat", "Sans-serif";
}

.profile-dropdown-button {
  border: none;
  background-color: transparent;
  transition: var(--main-transition);
  cursor: pointer;
}

.profile-dropdown__content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background-color: var(--light-grey);
  color: var(--dark-grey);
  font-weight: 500;
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
  user-select: none;
  width: max-content;
  box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 0.75);
}

.profile-dropdown__content p {
  color: var(--dark-grey);
}

.profile-dropdown__content *,
.profile-dropdown__content *:link {
  padding: var(--el-pd-md);
  width: 100%;
  color: var(--dark-grey);
  transition: var(--main-transition);
  text-align: center;
}
.profile-dropdown__content a:first-child {
  border-radius: 4px 4px 0 0;
}

.profile-dropdown__content button {
  border: none;
  background-color: transparent;
  border-radius: 0 0 4px 4px;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

.profile-dropdown__content *:hover {
  background-color: #f9a8c5;
}

.dropdown-open {
  opacity: 1;
  pointer-events: all;
}

/* E-SHOP LINk */
.header__link__e-shop--container {
  position: relative;
  display: flex;
  background-color: var(--light-grey);
  border-radius: 4px;
  color: var(--dark-grey);
  font-size: var(--font-sm);
  border: 2px solid var(--accent-color);
  align-items: center;
}

.header__link-shop {
  color: var(--dark-grey);
  padding: var(--el-pd-sm) var(--el-pd-md);
  transition: var(--main-transition);
  border-radius: 4px 0 0 4px;
}

.header__link-shop:hover {
  background-color: var(--dark-grey);
  color: var(--light-grey);
}

.header__cart {
  background-color: var(--accent-color);
  height: 100%;
  width: 100%;
  padding: var(--el-pd-sm) var(--el-pd-md);
  display: flex;
  align-items: center;
  gap: var(--gap-sm);
  cursor: pointer;
  user-select: none;
}

.header__cart span {
  font-weight: 600;
  animation: numberFlyFromUp 0.4s ease;
}

.cart-icon {
  height: var(--icon-sm);
  width: var(--icon-sm);
  fill: var(--dark-grey);
}
/* E-SHOP LINk */

/* CART DROP DOWN */
.cart-dropdown {
  position: absolute;
  top: 110%;
  right: -10%;
  display: flex;
  border-radius: 4px;
  flex-direction: column;
  width: calc(100% + 10rem);
  min-height: max-content;
  max-height: 35rem;
  background-color: white;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  cursor: auto;
  gap: var(--gap-sm);
  /* overflow-y: scroll; */
}

.cart-dropdown-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  padding: var(--el-pd-sm);
  z-index: 10;
}

.cart-dropdown__items {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  overflow-y: scroll;
}

.cart-dropdown-item {
  display: flex;
  align-items: center;
}

.cart-dropdown-item--image {
  max-width: 6rem;
  aspect-ratio: 1;
  border-radius: 4px;
  object-fit: contain;
}

.cart-dropdown-item--details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-sm);
  flex: 1;
  padding-right: var(--el-pd-sm);
}

.cart-dropdown-item--details h5 {
  text-align: center;
  font-weight: 500;
}

.cart-dropdown-item--details__bottom {
  display: flex;
  align-items: center;
  gap: var(--gap-sm);
}

.cart-dropdown-item--details__bottom span {
  font-weight: 600;
}

.cart-dropdown-item--remove {
  border: none;
  font-size: var(--font-md);
  background-color: transparent;
  cursor: pointer;
  transition: var(--main-transition);
}

.cart-dropdown-item--remove:hover {
  color: var(--accent-color);
}

.cart-dropdown__bottom-total {
  display: block;
  text-align: center;
  background-color: var(--dark-grey);
  color: var(--light-grey);
  font-weight: 500;
  padding: var(--el-pd-sm) 0;
  border-radius: 4px 4px 0 0;
}

.cart-dropdown__bottom-button {
  display: block;
  text-align: center;
  background-color: var(--accent-color);
  color: var(--dark-grey);
  border-radius: 0 0 4px 4px;
  padding: var(--el-pd-sm);
  font-weight: 500;
  font-size: var(--font-sm-to-md);
  border: 1px solid transparent;
  transition: var(--main-transition);
}

.cart-dropdown__bottom-button:hover {
  background-color: white;
  border: 1px solid var(--dark-grey);
}
/* CART DROP DOWN */

@keyframes numberFlyFromUp {
  0% {
    transform: translateY(-15px);
  }

  80% {
    transform: translateY(2px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* Header mobile */

/* Media Queries */

@media only screen and (max-width: 90rem) {
  /* 1440px*/
  nav {
    flex-direction: column-reverse;
    flex: 1;
    padding: 1rem 0;
  }

  .header__paws {
    display: none;
  }

  .header-bottom {
    justify-content: unset;
    gap: var(--gap-md);
  }

  .header-bottom nav ul {
    margin-block: 0;
  }
}

@media only screen and (max-width: 59rem) {
  /* 950px */
  .header-bottom {
    display: none;
  }
  .sticky {
    background-color: transparent;
  }
}

@media only screen and (max-width: 37.5rem) {
  .header-top {
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gap-sm);
  }
}

@media only screen and (max-width: 28rem) {
  .header-top {
    font-size: clamp(
      calc(var(--font-smallest) - 0.2rem),
      4vw,
      var(--font-smallest)
    );
  }
  .header-top__icon {
    width: clamp(calc(var(--icon-sm) - 1rem), 4vw, var(--icon-sm));
    height: clamp(calc(var(--icon-sm) - 1rem), 4vw, var(--icon-sm));
    fill: var(--accent-color);
  }
}
