/* HEADER */

.header {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  margin-bottom: 8rem;
}

.sticky {
  position: sticky;
  background-color: var(--dark-grey);
  top: 0;
  z-index: 100;
  transition: all 0.3s ease;
}

.header-bottom {
  display: flex;
  align-items: center;
  padding: 0 var(--side-paddings);
  justify-content: space-between;
  transition: all 0.3s ease;
}

.header-top {
  padding: 1rem var(--side-paddings);

  font-size: var(--font-smallest);
  display: flex;
  justify-content: space-between;
  background-color: #e9ecef;
  color: #212529;
  font-weight: 500;
  transition: all 0.3s ease;
}

.hide-top {
  display: none;
  position: absolute;
}

.header-top-side {
  display: flex;
  align-items: center;
}

.header-top-side p {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header-top-side p:first-child {
  border-right: 1px solid var(--accent-color);
  padding-right: 2rem;
}

.header-top-side p:nth-child(2) {
  padding-left: 2rem;
}

.header-bottom nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header-bottom nav ul {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  list-style: none;
  gap: 4rem;
  color: var(--light-grey);
}

.header__link:visited,
.header__link:link {
  color: currentColor;
  transition: all 0.3s ease;
}

.header-bottom nav ul li a {
  font-weight: 400;
  text-decoration: none;
  position: relative;
  z-index: 2;
}

.header-bottom nav ul li a span {
  position: relative;
  z-index: 2;
}

.header__logo {
  width: 16rem;
  height: 14rem;
  transition: all 0.3s ease;
}

.header__logo-smaller {
  width: 9rem;
  height: 7rem;
}

.header__link:visited:hover,
.header-link:link:hover,
.header__link:hover {
  color: var(--accent-color);
}

.header-top__icon {
  width: 2rem;
  height: 2rem;
  fill: #f9a8c5;
}

.header__link-not-main:link,
.header__link-not-main:visited {
  color: var(--light-grey);
}

.header__link-not-main:hover,
.header__link-not-main:link:hover,
.header__link-not-main:visited:hover,
.profile-dropdown-button:hover {
  color: var(--accent-color);
}

.header-not-main {
  background-color: var(--dark-grey);
}

.header__paws {
  width: 13%;
  height: 2rem;
}

/* Header link dropdown */
.header__link-w-drop {
  position: relative;
  cursor: pointer;
  font-weight: 400;
}

.header__link-w-drop:hover .header__link--dropdown {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.header__link--dropdown {
  position: absolute;
  background-color: var(--light-grey);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  width: max-content;
  box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 0.75);
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
}

.header__link--dropdown-item:link,
.header__link--dropdown-item:visited,
.header__link--dropdown-item {
  padding: 2rem;
  color: var(--dark-grey);
  width: 100%;
  transition: all 0.3s ease;
  text-align: center;
}

.header__link--dropdown-item:first-of-type {
  border-radius: 4px 4px 0 0;
}

.header__link--dropdown-item:last-of-type {
  border-radius: 0 0 4px 4px;
}

.header__link--dropdown *:hover {
  background-color: var(--accent-color);
}
/* Header link dropdown */

/* Profile dropdown */

.profile-dropdown {
  height: 2rem;
  position: relative;
  color: var(--light-grey);
  font-size: 1.6rem;
  font-family: "Montserrat", "Sans-serif";
}

.profile-dropdown-button {
  border: none;
  background-color: transparent;
  transition: all 0.3s ease;
  cursor: pointer;
}

.profile-dropdown__content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background-color: var(--light-grey);
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
  user-select: none;
  width: max-content;
  box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 0.75);
}

.profile-dropdown__content p {
  color: var(--dark-grey);
}

.profile-dropdown__content *,
.profile-dropdown__content *:link {
  padding: 2rem;
  width: 100%;
  color: var(--dark-grey);
  transition: all 0.3s ease;
  text-align: center;
}
.profile-dropdown__content a:first-child {
  border-radius: 4px 4px 0 0;
}

.profile-dropdown__content button {
  border: none;
  background-color: transparent;
  border-radius: 0 0 4px 4px;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

.profile-dropdown__content *:hover {
  background-color: #f9a8c5;
}

.dropdown-open {
  opacity: 1;
  pointer-events: all;
}

/* E-SHOP LINk */
.header__link__e-shop--container {
  position: relative;
  display: flex;
  background-color: var(--light-grey);
  border-radius: 4px;
  color: var(--dark-grey);
  font-size: var(--font-small);
  border: 2px solid var(--accent-color);
  align-items: center;
}

.header__link-shop {
  color: var(--dark-grey);
  padding: 0.6rem 2rem;
  transition: all 0.3s ease;
  border-radius: 4px 0 0 4px;
}

.header__link-shop:hover {
  background-color: var(--dark-grey);
  color: var(--light-grey);
}

.header__cart {
  background-color: var(--accent-color);
  height: 100%;
  width: 100%;
  padding: 0.8rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  user-select: none;
}

.header__cart span {
  font-weight: 600;
  animation: numberFlyFromUp 0.4s ease;
}

.cart-icon {
  height: 2rem;
  width: 2rem;
  fill: var(--dark-grey);
}
/* E-SHOP LINk */

/* CART DROP DOWN */
.cart-dropdown {
  position: absolute;
  top: 110%;
  right: -20%;
  display: flex;
  border-radius: 4px;
  flex-direction: column;
  width: calc(100% + 10rem);
  min-height: max-content;
  max-height: 35rem;
  background-color: white;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  cursor: auto;
  gap: 1rem;
  /* overflow-y: scroll; */
}

.cart-dropdown-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  padding: 1rem;
}

.cart-dropdown__items {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow-y: scroll;
}

.cart-dropdown-item {
  display: flex;
  align-items: center;
}

.cart-dropdown-item--image {
  width: 10rem;
  height: 10rem;
  border-radius: 4px;
  object-fit: contain;
}

.cart-dropdown-item--details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex: 1;
  padding-right: 1rem;
}

.cart-dropdown-item--details h5 {
  text-align: center;
  font-weight: 500;
}

.cart-dropdown-item--details__bottom {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cart-dropdown-item--details__bottom span {
  font-weight: 600;
}

.cart-dropdown-item--remove {
  border: none;
  font-size: var(--font-medium);
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cart-dropdown-item--remove:hover {
  color: var(--accent-color);
}

.cart-dropdown__bottom-total {
  display: block;
  text-align: center;
  background-color: var(--dark-grey);
  color: var(--light-grey);
  font-weight: 500;
  padding: 0.5rem 0;
  border-radius: 4px 4px 0 0;
}

.cart-dropdown__bottom-button {
  display: block;
  text-align: center;
  background-color: var(--accent-color);
  color: var(--dark-grey);
  border-radius: 0 0 4px 4px;
  padding: 0.5rem;
  font-weight: 500;
  font-size: var(--font-medium);
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

.cart-dropdown__bottom-button:hover {
  background-color: white;
  border: 1px solid var(--dark-grey);
}
/* CART DROP DOWN */

@keyframes numberFlyFromUp {
  0% {
    transform: translateY(-15px);
  }

  80% {
    transform: translateY(2px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* Header mobile */

.header-mobile {
  display: flex;
  position: absolute;
  height: 0;
  justify-content: end;
  overflow: hidden;
  z-index: -1;
}

.header-mobile-open {
  z-index: 2;
  width: 100%;
  height: 100dvh;
}

.header-mobile__button {
  position: relative;
  font-size: var(--font-large);
  background-color: var(--dark-grey);
  color: var(--light-grey);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  margin-top: 4rem;
  margin-right: 4rem;
  z-index: 50;
  align-self: end;
  border: none;
  transition: all 0.3s ease;
}

.header-mobile__button-line {
  width: 70%;
  height: 0.3rem;
  border-radius: 10px;
  background-color: var(--light-grey);
  transition: all 0.3s ease;
}

.header-mobile__button:hover {
  color: var(--accent-color);
  gap: 0.6rem;
}

.top-rotate {
  transform: rotate(-45deg);
}

.bottom-rotate {
  transform: rotate(45deg);
}

.center-remove {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.header-mobile__button--open {
  gap: 0;
}

.header-mobile__button--open .header-mobile__button-line {
  background-color: var(--accent-color);
}

.header-mobile__menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--font-large);
  color: red;
  font-weight: 600;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  z-index: 50;
}

.header-mobile__menu--open {
  visibility: visible;
  pointer-events: all;
  opacity: 1;
}

/* Mobile menu background */
.header-mobile__background {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 20;
}

.header-mobile__background-block {
  position: relative;
  background-color: var(--dark-grey);
  height: 25vh;
  width: 130vw;
  transition: all 1s ease;
}

.block-left {
  transform: translateX(-160vw);
  border-radius: 0px 183px 181px 0px / 0px 104px 116px 0px;
}

.block-right {
  transform: translateX(140vw);
  border-radius: 183px 0px 0px 181px / 104px 0px 0px 116px;
}

/* Moves left paws to create background */
.move-blocks {
  transform: translateX(0);
}

/* Moves left paws to create background */

.block-right.move-blocks {
  transform: translateX(-22%);
}

.paw-mobile {
  position: absolute;
  width: 18rem;
  height: 18rem;
  fill: var(--accent-color);
  top: 10%;
}

.header-mobile__background .paw-mobile-left {
  right: 5%;
}

.header-mobile__background .paw-mobile-right {
  left: 5%;
}

.block-left .paw-i {
  transform: rotate(90deg);
}
.block-right .paw-i {
  transform: rotate(-90deg);
}
/* Mobile menu background */

/* Header mobile */

/* Media Queries */

@media only screen and (max-width: 90rem) {
  /* 1440px*/
  nav {
    flex-direction: column-reverse;
    flex: 1;
    padding: 1rem 0;
  }

  .header__paws {
    display: none;
  }

  .header-bottom {
    justify-content: unset;
    gap: 2rem;
  }

  .header__logo-smaller {
    width: 11rem;
    height: 9rem;
  }
}

@media only screen and (max-width: 59rem) {
  /* 950px */
  .header-bottom {
    display: none;
  }

  .header-mobile__button {
    display: flex;
  }

  .sticky {
    background-color: transparent;
  }
}
