/* SERVICES */
.services-section {
  background-color: var(--accent-color);
  color: var(--dark-grey);
  position: relative;
  padding: var(--section-padding-top-bottom) var(--side-paddings);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-section__services-container {
  display: flex;
  justify-content: center;
  gap: var(--gap-md);
  margin-bottom: 3rem;
}

.services-section__item {
  position: relative;
  border-radius: var(--common-border-radius);
  overflow: hidden;
  width: 20rem;
  height: 35rem;
  background-color: var(--light-grey);
  /* display: grid; */
}

.services-section__item:hover > .services-section__item-img {
  min-height: 90%;
  filter: grayscale(20%);
  overflow: hidden;
}

.services-section__item:hover > .services-section__item-name {
  height: 10%;
  color: var(--dark-grey);
}

.services-section__item-img {
  min-width: 100%;
  min-height: 100%;
  filter: grayscale(70%);
  object-fit: cover;
  transition: var(--main-transition);

  /* object-position: center; */
}

.services-section__item-name {
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-sm-to-md);
  font-weight: 400;
  position: absolute;
  height: 0;
  width: 100%;
  background-color: var(--light-grey);
  transition: var(--main-transition);
}

.services-section__button,
.services-section__button:link,
.services-section__button:visited {
  border: none;
  text-decoration: none;
  font-size: var(--font-sm-to-md);
  font-weight: 500;
  color: var(--dark-grey);
  border-bottom: 2px solid transparent;
  transition: var(--main-transition);
}

.services-section__button:hover {
  border-bottom: 2px solid var(--dark-grey);
}
/* SERVICES */

/* Media Queries */

/* 1300px */
@media only screen and (max-width: 81rem) {
  .services-section__services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (hover: none) and (pointer: coarse) {
  .services-section__item-img {
    height: 90%;
    filter: grayscale(20%);
  }

  .services-section__item-name {
    height: 10%;
    color: var(--dark-grey);
  }
}
