/* Variables */
:root {
  /* FONTS */
  --font-smallest: 0.7rem;
  --font-sm: clamp(calc(var(--font-smallest) - 0.3rem), 4vw, 1rem);
  --font-sm-to-md: clamp(0.7rem, 5vw, 1.5rem);
  --font-md: clamp(var(--font-sm-to-md), 5vw, 2rem);
  --font-med-to-lg: clamp(var(--font-md), 4vw, 2.5rem);
  --font-lg: clamp(var(--font-md), 5vw, 3rem);
  --font-largest: 3.5rem;
  --font-hd: clamp(var(--font-md), 10vw, 3.5rem);
  --font-hd-bigger: clamp(var(--font-lg), 4vw, 4rem);
  /* GAPS / MARGINS */
  --gap-sm: 0.5rem;
  --gap-md: 1rem;
  --gap-lg: 1.5rem;
  --gap-largest: 2rem;
  --section-heading-margbot: 7rem;
  /* PADDINGS */
  --side-paddings: 2rem;
  --el-pd-sm: 0.5rem;
  --el-pd-md: 1rem;
  --el-pd-bg: 1.5rem;
  --el-pd-lg: 2rem;
  --section-padding-top-bottom: clamp(2rem, 5vw, 6.25rem);
  --page-heading-padding: 2rem var(--side-paddings);
  /* COLORS */
  --accent-color: #f89fbe;
  --accent-color-light: #fccfdf;
  --dark-grey: #212529;
  --light-grey: #e9ecef;
  --light-dark-grey: #798087;
  --hover-light-pink: rgb(238, 238, 238);
  --link-blue: #b3c7f4;
  --notification-success: #69db7c;
  --notification-warning: #ffe066;
  --notification-error: #ff6b6b;
  /* TRANSITION */
  --main-transition: all 0.3s ease;
  /* ICONS */
  --icon-sm: 1.5rem;
  --icon-md: 2.5rem;
  --icon-lg: 3.5rem;
  /* OTHERS */
  --common-border-radius: 4px;
  /* LOGO */
  --logo-norm-width: 11rem;
  --logo-norm-height: 9rem;
}

/* /DEFAULT/ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:link,
*:visited {
  text-decoration: none;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Montserrat", "Sans-serif";
  background-color: #e9ecef;
  font-size: var(--font-sm);
  color: var(--dark-grey);
  overflow-x: hidden;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/*  */

#root {
  overflow-x: hidden;
}
