/* HEADINGS */
.page-heading {
  font-size: var(--font-heading);
  background-color: var(--accent-color);
  padding: var(--page-heading-padding);
  color: var(--dark-grey);
  text-wrap: balance;
}

.section-heading {
  font-size: var(--font-heading);
  text-align: center;
  margin-bottom: var(--section-heading-margbot);
  text-wrap: balance;
}
/* HEADINGS */

/* CTA */

.booking-btn,
.booking-btn:visited,
.booking-btn:link {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
}

/* CTA */

/* OTHERS */

.scroll-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  padding: 1rem;
  font-size: var(--font-large);
  background-color: var(--dark-grey);
  z-index: 100;
  border: 1px solid var(--dark-grey);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  transform: translateY(5rem);
  opacity: 0;
}

.scroll-to-top__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--light-grey);
  transition: fill 0.3s ease-in-out;
}

.scroll-to-top:hover > .scroll-to-top__icon {
  fill: var(--accent-color);
  animation: scrollToTheTopButtonAnimation infinite 1.5s linear;
}

.scroll-to-top:hover {
  transform: scale(1.1);
  -webkit-box-shadow: 0px 5px 23px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 23px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 23px -8px rgba(0, 0, 0, 0.75);
}

.scroll-to-top-visible {
  transform: translateY(0);
  opacity: 1;
}

@keyframes scrollToTheTopButtonAnimation {
  0% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(2px);
  }

  100% {
    transform: translateY(-3px);
  }
}

/* Loader */
/* TEST */
.test {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-grey);
  gap: 3rem;
  flex-direction: column;
  position: relative;
  border-radius: 50%;
  border: 3px solid var(--accent-color);
  background-color: var(--accent-color);
  width: 20rem;
  aspect-ratio: 1;
}

.loader .wrapper {
  display: flex;
  gap: 3rem;
}

.loader-el {
  transform: scale(2);
  animation: animatePaw 1.2s ease infinite;
  animation-fill-mode: forwards;
  animation-delay: calc(var(--i) * 0.6s);
  fill: var(--dark-grey);
}

.loader-icon {
  width: 5rem;
  height: 5rem;
}

@keyframes animatePaw {
  90% {
    transform: scale(1);
  }
}

/* Message */

.message-div {
  background-color: var(--dark-grey);
  padding: 1.5rem;
  color: var(--light-grey);
  position: absolute;
  border-radius: 4px;
}

.message-div p {
  font-size: var(--font-medium);
  font-weight: 400;
}

/* Pink Button hover */

.pink-button {
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--light-grey);
  transition: all 0.3s ease;
  cursor: pointer;
  border: 1px solid transparent;
}

.pink-button:hover {
  background-color: var(--light-grey);
  border: 1px solid var(--dark-grey);
  color: var(--dark-grey);
  transform: scale(1.02);
}
