/* HEADINGS */
.page-heading {
  margin-top: 6rem;
  font-size: var(--font-hd);
  background-color: var(--accent-color);
  padding: var(--page-heading-padding);
  color: var(--dark-grey);
  text-wrap: balance;
}

.section-heading {
  font-size: var(--font-lg);
  text-align: center;
  margin-bottom: var(--section-heading-margbot);

  text-wrap: balance;
}
/* HEADINGS */

/* 

/* TEMP */

.temp-inner {
  padding: var(--section-padding-top-bottom) var(--side-paddings);
}

/* TEMP */

/* CTA */

.booking-btn,
.booking-btn:visited,
.booking-btn:link {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
}

/* CTA */

/* OBSERVER POINT */

.observer-point {
  height: 10dvh;
  position: absolute;
  top: 30%;
  z-index: -50;
  width: 100%;
  background-color: transparent;
  user-select: none;
  visibility: hidden;
}

/* OBSERVER POINT */

/* LIVE CHAT */

.live-chat__open,
.live-chat {
  position: fixed;
  top: 45%;
  right: 2rem;
  z-index: 100;
  padding: var(--el-pd-md);
  border-radius: var(--common-border-radius);
}

.live-chat__open,
.live-chat__close {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: white;
  border: none;
  transition: var(--main-transition);
}

.live-chat__close {
  position: absolute;
  left: -13%;
  top: 40%;
  padding: var(--el-pd-md);
  border: 1px solid var(--light-grey);
}

#live-icon,
#live-close {
  width: var(--icon-sm);
  height: var(--icon-sm);
}

.live-chat {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
}

.chat-box {
  min-height: 20rem;
  aspect-ratio: 1;
  border: 2px solid var(--accent-color);
  border-radius: var(--common-border-radius);
}

.chat-form {
  display: flex;
  align-items: center;
  gap: var(--gap-sm);
}

.chat-form input {
  flex: 1;
  padding: var(--el-pd-sm);
}

.chat-form button {
  padding: var(--el-pd-sm);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: var(--main-transition);
  border-radius: var(--common-border-radius);
}

.chat-form button:hover {
  background-color: var(--accent-color);
}

/* OTHERS */

.is-required {
  color: red;
}

.scroll-to-top {
  position: fixed;
  bottom: 4.8rem;
  right: 2rem;
  padding: clamp(calc(var(--el-pd-sm) - 0.2rem), 2vw, var(--el-pd-md));
  font-size: calc(var(--font-lg) - 0.5rem);
  background-color: var(--dark-grey);
  z-index: 20;
  border: 1px solid var(--dark-grey);
  border-radius: 50%;
  cursor: pointer;
  transition: var(--main-transition);
  transform: translateY(5rem);
  opacity: 0;
}

.scroll-to-top__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(calc(var(--icon-sm) - 0.3rem), 2vw, var(--icon-sm));
  height: clamp(calc(var(--icon-sm) - 0.3rem), 2vw, var(--icon-sm));
  fill: var(--light-grey);
  transition: fill 0.3s ease-in-out;
}

.scroll-to-top:hover > .scroll-to-top__icon {
  fill: var(--accent-color);
  animation: scrollToTheTopButtonAnimation infinite 1.5s linear;
}

.scroll-to-top:hover,
.live-chat__open:hover {
  transform: scale(1.1);
  -webkit-box-shadow: 0px 5px 23px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 23px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 23px -8px rgba(0, 0, 0, 0.75);
}

.scroll-to-top-visible {
  transform: translateY(0);
  opacity: 1;
}

@keyframes scrollToTheTopButtonAnimation {
  0% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(2px);
  }

  100% {
    transform: translateY(-3px);
  }
}

/* Message */

.message-div {
  z-index: 50;
  background-color: var(--accent-color-light);
  padding: 1.5rem;
  color: var(--dark-grey);
  position: fixed;
  border-radius: var(--common-border-radius);
  top: 15%;
  left: 45%;
}

.message-div p {
  font-size: var(--font-sm-to-md);
  font-weight: 500;
}

/* Pink Button hover */

.pink-button {
  border: none;
  padding: var(--el-pd-sm) var(--el-pd-md);
  border-radius: var(--common-border-radius);
  font-weight: 500;
  background-color: var(--accent-color);
  color: var(--light-grey);
  transition: var(--main-transition);
  cursor: pointer;
  border: 1px solid transparent;
}

.pink-button:hover {
  background-color: var(--light-grey);
  border: 1px solid var(--dark-grey);
  color: var(--dark-grey);
  transform: scale(1.02);
}

/* SPINNER */

.spinner {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  height: 100dvh;
  z-index: 100;
}

.spinner__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-md);
  padding: var(--el-pd-md);
}

.spinner__element {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border-right: 5px solid var(--accent-color);
  border-bottom: 5px solid var(--accent-color);
  display: inline-block;
  position: relative;
  transition: var(--main-transition);
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* SPINNER */

/* Media Queries */

/* 950px */

@media only screen and (max-width: 59rem) {
  .page-heading {
    margin-top: 0;
  }
}

/* 750px */

@media only screen and (max-width: 47rem) {
  .page-heading {
    padding: var(--el-pd-lg);
  }
}

/* 450px */
@media only screen and (max-width: 47rem) {
  .page-heading {
    padding: var(--el-pd-md);
  }
}
