/* Variables */
:root {
  --side-paddings: 6rem;
  --accent-color: #f9a8c5;
  --dark-grey: #212529;
  --light-gey: #e9ecef;
  --section-heading: 6rem;
  --section-padding: 5rem 6rem;
  --section-heading-margbot: 5rem;
}

/* /DEFAULT/ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

*:focus {
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-weight: 300;
  line-height: 1.6;
  font-family: "Montserrat", "Sans-serif";
  height: 100vh;
  background-color: #e9ecef;
}

/* HEADER */

.header {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  margin-bottom: 8rem;
}

.header-bottom {
  display: flex;
  align-items: center;
  padding: 0 var(--side-paddings);
  justify-content: space-between;
}

.header-top {
  padding: 1rem var(--side-paddings);

  font-size: 2.4rem;
  display: flex;
  justify-content: space-between;
  background-color: #e9ecef;
  color: #212529;
  font-weight: 500;
}

.header-top-side {
  display: flex;
  align-items: center;
}

.header-top-side p {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
}
.header-top-side p:first-child {
  border-right: 1px solid var(--accent-color);
  padding-right: 2rem;
}

.header-top-side p:nth-child(2) {
  padding-left: 2rem;
}

nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

nav ul {
  display: flex;
  font-size: 2.4rem;
  list-style: none;
  gap: 4rem;
  color: #e9ecef;
}

.header__link:visited,
.header__link:link {
  color: aliceblue;
  transition: all 0.3s ease;
}

nav ul li a {
  font-weight: 400;
  text-decoration: none;
  position: relative;
  z-index: 2;
}

nav ul li a span {
  position: relative;
  z-index: 2;
}

.header__logo {
  width: 16rem;
  height: 14rem;
}

.header__link:visited:hover,
.header-link:link:hover,
.header__link:hover {
  color: var(--accent-color);
}

.header-top__icon {
  width: 2rem;
  height: 2rem;
  fill: #f9a8c5;
}

.header__link-not-main:link,
.header__link-not-main:visited {
  color: var(--accent-color);
}

.header-not-main {
  background-color: #151e3f48;
}

.header__paws {
  height: 2rem;
}

/* HEADER */
/* HERO */
/* .hero {
  background-image: url("/src/assets/main2.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
} */
.hero {
  color: aliceblue;
  height: 70vh;
  padding: var(--section-padding);
}

.hero h1 {
  font-size: 7rem;
  margin-bottom: 1rem;
}

.hero h1 span {
  color: var(--accent-color);
}

.hero h2 {
  font-weight: 400;
  font-size: 4rem;
  width: 50%;
  margin-bottom: 2rem;
}

.header-hero__background {
  background-image: url("/src/assets/main.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  /* padding: 2rem 3rem; */
  position: absolute;
  z-index: -10;
  top: 0;
}

/* HERO */

/* WHY US */
.why-us {
  padding: var(--section-padding);

  /* height: 40vh; */
  background-color: var(--light-gey);
  color: var(--dark-grey);
  font-size: 1.6rem;
}

.why-us__items-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 6rem;
}

.why-us__heading {
  font-size: var(--section-heading);
  text-align: center;
  margin-bottom: var(--section-heading-margbot);
}

.why-us__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8rem;
}

.why-us__item:hover > .why-us__icon {
  transform: scale(1.15);
}

.why-us__item-heading {
  font-weight: 500;
}

.why-us__item-text {
  text-align: center;
  width: 70%;
  line-height: 1.5;
}

.why-us__icon {
  width: 6rem;
  height: 6rem;
  fill: var(--accent-color);
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}

/* WHY US */

/* SERVICES */
.services-section {
  /* height: 40vh; */
  background-color: var(--accent-color);
  color: var(--dark-grey);
  position: relative;
  padding: var(--section-padding);
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-section__services-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

.services-section__heading {
  font-size: var(--section-heading);
  text-align: center;
  margin-bottom: var(--section-heading-margbot);
}

.services-section__item {
  position: relative;
  /* border-radius: 4px 4px 0 0; */
  border-radius: 4px;
  overflow: hidden;
  width: 40rem;
  height: 70rem;
  background-color: var(--light-gey);
  /* display: grid; */
}

.services-section__item:hover > .services-section__item-img {
  height: 90%;
  filter: grayscale(20%);
}

.services-section__item:hover > .services-section__item-name {
  height: 10%;
  color: var(--dark-grey);
}

.services-section__item-img {
  width: 100%;
  height: 100%;
  filter: grayscale(70%);
  object-fit: cover;
  transition: all 0.3s ease;

  /* object-position: center; */
}

.services-section__item-name {
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.6rem;
  font-weight: 500;
  position: absolute;
  height: 0;
  width: 100%;
  background-color: var(--light-gey);
  transition: all 0.3s ease;
}

.services-section__button,
.services-section__button:link,
.services-section__button:visited {
  border: none;
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--dark-grey);
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

.services-section__button:hover {
  border-bottom: 2px solid var(--dark-grey);
}
/* SERVICES */

/* REVIEWS */
.reviews {
  height: 60vh;
  padding: var(--section-padding);
  background-color: var(--light-gey);
  color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.reviews__heading {
  font-size: var(--section-heading);
  text-align: center;
  margin-bottom: 8rem;
}

.reviews__slider {
  position: relative;
  /* overflow: hidden; */
  width: 80vw;
}

.reviews__slider-data {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  font-size: 1.8rem;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.reviews__slider-name {
  color: var(--dark-grey);
  font-size: 2.6rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.reviews__slider-review {
  line-height: 1.5;
  color: #495057;
}

.slide-active {
  opacity: 1;
  visibility: visible;
  position: relative;
  transition: opacity 0.5s ease;
}

.reviews__slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  font-family: "Montserrat";

  font-size: 15rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.reviews__slider-btn:hover {
  color: var(--accent-color);
}

.reviews__slider-btn-left {
  left: 4rem;
}
.reviews__slider-btn-right {
  right: 4rem;
}

/* REVIEWS */

/* MAP */

.map-container {
  height: 100%;
  width: 20%;
}

.map {
  width: 100%;
  height: 100%;
  filter: grayscale(90%);
}
/* MAP */

/* FOOTER */
.footer {
  padding: var(--section-padding);
  -webkit-box-shadow: 0px -2px 56px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -2px 56px -20px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -2px 56px -20px rgba(0, 0, 0, 0.75);
  height: 40vh;
  background-color: var(--light-gey);
  padding-bottom: 0;
}
/* FOOTER */

/* AUTHORIZATION PAGE */
.authorization {
  margin: 4rem;
}

.authorization__inner {
  border: 2px solid #151e3f;
  display: flex;
  font-size: 3rem;
}

.authorization__login {
  background-color: #151e3f;
  color: aliceblue;
  width: 40%;
}

.authorization__signup {
  width: 60%;
}
/* AUTHORIZATION PAGE */

/* ABOUT US PAGE */

.about-us p {
  font-size: 2rem;
}
/* ABOUT US PAGE */

/* OUR TEAM */

.our-team__card {
  height: 40rem;
  width: 35rem;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: end;
  cursor: pointer;
}

.our-team__card--image {
  /* padding-top: 1rem; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
  /* transform-origin: center bottom; */
}

.our-team__card--details {
  background-color: #000000d9;
  overflow: hidden;
  height: 0;
  transition: all 0.3s ease;
  color: #e9ecef;
}

.our-team__card--name {
  font-size: 2.4rem;
  text-align: center;
}

.our-team__card--spec {
  font-size: 2rem;
  background-color: #000000d9;
  text-align: center;
}

.our-team__card:hover > .our-team__card--details {
  height: 20%;
}
.our-team__card:hover > .our-team__card--image {
  height: 80%;
}
/* OUR TEAM */

/* HEADINGS */
.page-heading {
  font-size: 7rem;
}
/* HEADINGS */

/* CTA */

.cta {
  border: none;
  font-size: 2.2rem;
  color: var(--light-gey);
  background-color: var(--accent-color);
  padding: 1rem 2rem;
  border-radius: 4px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  font-weight: 500;
  text-transform: uppercase;
  /* letter-spacing: ; */
}

.cta:hover {
  background-color: #e097b1;
}

/* CTA */
