/* Variables */
:root {
  --font-smallest: 1rem;
  --font-small: 1.5rem;
  --font-medium: 2rem;
  --font-large: 3rem;
  --font-largest: 4rem;
  --font-heading: 5rem;
  --font-hero-heading: 5.5rem;
  --side-paddings: 5rem;
  --accent-color: #f9a8c5;
  --dark-grey: #212529;
  --light-grey: #e9ecef;
  --section-padding: 8rem 5rem;
  --section-heading-margbot: 7rem;
  --page-heading-padding: 2rem 5rem;
}

/* /DEFAULT/ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

*:focus {
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-weight: 300;
  line-height: 1.6;
  font-family: "Montserrat", "Sans-serif";
  height: 100vh;
  background-color: #e9ecef;
  font-size: var(--font-small);
}

/* HEADER */

.header {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  margin-bottom: 8rem;
}

.sticky {
  position: sticky;
  background-color: var(--dark-grey);
  top: 0;
  z-index: 100;
  transition: all 0.3s ease;
}

.header-bottom {
  display: flex;
  align-items: center;
  padding: 0 var(--side-paddings);
  justify-content: space-between;
  transition: all 0.3s ease;
}

.header-top {
  padding: 1rem var(--side-paddings);

  font-size: var(--font-smallest);
  display: flex;
  justify-content: space-between;
  background-color: #e9ecef;
  color: #212529;
  font-weight: 500;
  transition: all 0.3s ease;
}

.hide-top {
  display: none;
  position: absolute;
}

.header-top-side {
  display: flex;
  align-items: center;
}

.header-top-side p {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header-top-side p:first-child {
  border-right: 1px solid var(--accent-color);
  padding-right: 2rem;
}

.header-top-side p:nth-child(2) {
  padding-left: 2rem;
}

nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

nav ul {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  list-style: none;
  gap: 4rem;
  color: var(--light-grey);
}

.header__link:visited,
.header__link:link {
  color: currentColor;
  transition: all 0.3s ease;
}

nav ul li a {
  font-weight: 400;
  text-decoration: none;
  position: relative;
  z-index: 2;
}

nav ul li a span {
  position: relative;
  z-index: 2;
}

.header__logo {
  width: 16rem;
  height: 14rem;
  transition: all 0.3s ease;
}

.header__logo-smaller {
  width: 9rem;
  height: 7rem;
}

.header__link:visited:hover,
.header-link:link:hover,
.header__link:hover {
  color: var(--accent-color);
}

.header-top__icon {
  width: 2rem;
  height: 2rem;
  fill: #f9a8c5;
}

.header__link-not-main:link,
.header__link-not-main:visited {
  color: var(--light-grey);
}

.header__link-not-main:hover,
.header__link-not-main:link:hover,
.header__link-not-main:visited:hover {
  color: var(--accent-color);
}

.header-not-main {
  background-color: var(--dark-grey);
}

.header__paws {
  height: 2rem;
}

/* HEADER */
/* HERO */
/* .hero {
  background-image: url("/src/assets/main2.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
} */
.hero {
  color: aliceblue;
  height: 70vh;
  padding: var(--section-padding);
}

.hero h1 {
  font-size: var(--font-hero-heading);
  margin-bottom: 1rem;
}

.hero h1 span {
  color: var(--accent-color);
}

.hero p {
  font-weight: 400;
  font-size: var(--font-large);
  width: 50%;
  margin-bottom: 2rem;
}

.header-hero__background {
  background-image: url("/src/assets/main.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 120vh;
  width: 100%;
  /* padding: 2rem 3rem; */
  position: absolute;
  z-index: -10;
  top: 0;
}

/* HERO */

/* WHY US */
.why-us {
  padding: var(--section-padding);

  background-color: var(--light-grey);
  color: var(--dark-grey);
}

.why-us__items-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 6rem;
}

.why-us__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-small);
}

.why-us__item:hover > .why-us__icon {
  transform: scale(1.15);
}

.why-us__item-heading {
  font-weight: 500;
}

.why-us__item-text {
  text-align: center;
  width: 70%;
  line-height: 1.5;
}

.why-us__icon {
  width: 5rem;
  height: 5rem;
  fill: var(--accent-color);
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}

/* WHY US */

/* SERVICES */
.services-section {
  /* height: 40vh; */
  background-color: var(--accent-color);
  color: var(--dark-grey);
  position: relative;
  padding: var(--section-padding);
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-section__services-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

.services-section__item {
  position: relative;
  /* border-radius: 4px 4px 0 0; */
  border-radius: 4px;
  overflow: hidden;
  width: 30rem;
  height: 50rem;
  background-color: var(--light-grey);
  /* display: grid; */
}

.services-section__item:hover > .services-section__item-img {
  height: 90%;
  filter: grayscale(20%);
}

.services-section__item:hover > .services-section__item-name {
  height: 10%;
  color: var(--dark-grey);
}

.services-section__item-img {
  width: 100%;
  height: 100%;
  filter: grayscale(70%);
  object-fit: cover;
  transition: all 0.3s ease;

  /* object-position: center; */
}

.services-section__item-name {
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-medium);
  transform: translateY(-15%);
  font-weight: 500;
  position: absolute;
  height: 0;
  width: 100%;
  background-color: var(--light-grey);
  transition: all 0.3s ease;
}

.services-section__button,
.services-section__button:link,
.services-section__button:visited {
  border: none;
  text-decoration: none;
  font-size: var(--font-medium);
  font-weight: 500;
  color: var(--dark-grey);
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

.services-section__button:hover {
  border-bottom: 2px solid var(--dark-grey);
}
/* SERVICES */

/* REVIEWS */
.reviews {
  height: 60vh;
  padding: var(--section-padding);
  background-color: var(--light-grey);
  color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.reviews__heading {
  font-size: var(--font-heading);
  text-align: center;
  margin-bottom: var(--section-heading-margbot);
}

.reviews__slider {
  position: relative;
  width: 80vw;
}

.reviews__slider-data {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-small);
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.reviews__slider-name {
  color: var(--dark-grey);
  font-size: var(--font-medium);
  font-weight: 400;
  margin-bottom: 2rem;
}

.reviews__slider-review {
  line-height: 1.5;
  color: #495057;
}

.slide-active {
  opacity: 1;
  visibility: visible;
  position: relative;
  transition: opacity 0.5s ease;
}

.reviews__slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  font-family: "Montserrat";

  font-size: 15rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.reviews__slider-btn:hover {
  color: var(--accent-color);
}

.reviews__slider-btn-left {
  left: 4rem;
}
.reviews__slider-btn-right {
  right: 4rem;
}

/* REVIEWS */

/* MAP */

.map-container {
  min-height: 100%;
  width: 20%;
}

.map {
  width: 100%;
  min-height: 100%;
  filter: grayscale(90%);
  transition: filter 0.3s ease;
}

.map:hover {
  filter: grayscale(35%);
}
/* MAP */

/* FOOTER */
.footer {
  position: relative;
  -webkit-box-shadow: -2px 17px 49px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 17px 49px -11px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 17px 49px -11px rgba(0, 0, 0, 0.75);
  height: 50vh;
  background-color: var(--light-grey);
  padding: 0 5rem;
  padding-top: 7rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 5fr 1fr;
  overflow: hidden;
  /* width: 100%; */
}

.footer__top {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  padding-bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__box-heading {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.footer__box {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer__contacts-item {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  gap: 1rem;
}

.footer__icon {
  width: 3rem;
  height: 3rem;
  fill: var(--accent-color);
}

.footer__navigation ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer__navigation-link:visited,
.footer__navigation-link:link,
.footer__navigation-link {
  color: var(--dark-grey);
  font-size: 1.6rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer__navigation-link:hover {
  color: var(--accent-color);
}

.footer__props {
  font-size: 1.6rem;
}

.footer__bottom {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  width: 100%;

  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  /* padding: 2rem 0rem; */
  background-color: var(--accent-color);
  font-size: var(--font-small);
}

.footer__bottom p {
  position: relative;
  z-index: 1;
}

.footer__bottom div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__bottom a,
.footer__bottom:visited,
.footer__bottom:link {
  position: relative;
  text-decoration: none;
  color: var(--dark-grey);
  transition: all 0.3s ease;
  z-index: 1;
}

.footer__bottom a:hover {
  font-weight: 400;
}

.footer__bottom::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--accent-color);
  height: 100%;
  width: 50%;
  z-index: 0;
  right: -20%;
}

.footer__bottom::before {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--accent-color);
  height: 100%;
  width: 50%;
  z-index: 0;
  left: -20%;
}
/* FOOTER */

/*//////////////// PAGES //////////////*/

/* AUTHORIZATION PAGE */
.authorization {
  margin: 4rem;
}

.authorization__inner {
  border: 2px solid #151e3f;
  display: flex;
  font-size: 3rem;
}

.authorization__login {
  background-color: #151e3f;
  color: aliceblue;
  width: 40%;
}

.authorization__signup {
  width: 60%;
}
/* AUTHORIZATION PAGE */

/* ABOUT US PAGE */

.about-us {
  color: var(--dark-grey);
  /* height: 100vh; */
}

.about-us__inner {
  position: relative;
  padding: var(--section-padding);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 2fr 1fr;
  font-weight: 400;
}

.about-us__motto {
  border-radius: 4px;
  grid-column: 1/ 3;
  grid-row: 1 / 2;
  padding: 3rem;
  height: fit-content;
  background-color: var(--accent-color);
}

.about-us__main-text {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  align-self: center;
  line-height: 1.5;
  border-bottom: 3px solid var(--dark-grey);
  border-top: 3px solid var(--dark-grey);
  padding: 3rem 0;
}

.about-us__vision {
  border-radius: 4px;

  background-color: var(--accent-color);
  grid-column: 3/ -1;
  grid-row: 3 / 4;
  padding: 3rem;
}

/* ABOUT US PAGE */

/* OUR TEAM */

.our-team__main {
  display: flex;
  padding: var(--section-padding);
  flex-direction: column;
  gap: 6rem;
}

.our-team__main-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2rem;
}

.our-team__main-heading {
  font-size: var(--font-medium);
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.our-team__card {
  height: 40rem;
  width: 35rem;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: end;
  cursor: pointer;
}

.our-team__card--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  transition: all 0.3s ease;
  transform-origin: center bottom;
  filter: grayscale(30%);
}

.our-team__card--details {
  background-color: var(--accent-color);
  overflow: hidden;
  height: 0;
  transition: all 0.3s ease;
  color: #e9ecef;
}

.our-team__card--name {
  font-size: 2.4rem;
  text-align: center;
}

.our-team__card--spec {
  font-size: 2rem;
  background-color: var(--accent-color);
  text-align: center;
}

.our-team__card:hover > .our-team__card--details {
  height: 20%;
}
.our-team__card:hover > .our-team__card--image {
  height: 80%;
  filter: grayscale(0);
}
/* OUR TEAM */

/* HEADINGS */
.page-heading {
  font-size: var(--font-heading);
  background-color: var(--accent-color);
  padding: var(--page-heading-padding);
  color: var(--dark-grey);
}

.section-heading {
  font-size: var(--font-heading);
  text-align: center;
  margin-bottom: var(--section-heading-margbot);
}
/* HEADINGS */

/* CTA */

.booking-btn,
.booking-btn:visited,
.booking-btn:link {
  border: none;
  font-size: var(--font-small);
  color: var(--light-grey);
  background-color: var(--accent-color);
  padding: 1rem 2rem;
  border-radius: 4px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  /* letter-spacing: ; */
}

.cta:hover {
  background-color: #e097b1;
}

.booking-btn:hover {
  background-color: var(--light-grey);
  color: var(--dark-grey);
}

/* CTA */
